<!DOCTYPE HTML>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        margin: 10px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="row text-center">
      <h1>Marvin AutoML</h1>
      <p>Bla bla bla</p>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-xs-offset-3 col-md-7">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" placeholder="URL" type="url" name="url" required="required" size=60>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Coluna 'target'" type="text" name="target_col" required="required" size=15>
                </div>
                <div class="form-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Enviar</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row text-center">

    </div>
  </body>
</html>